{% extends 'base.html' %}

{% block pagetitle %}
	delete edition
{% endblock %}

{% block mainheader %}Delete an Edition{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ edition }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>

{% endblock %}
