{% extends "base.html" %}

{% block pagetitle %}Edition detail{% endblock %}

{% block mainheader %}{{ edition.book.title }} ({{ edition.year }}){% endblock %}

{% block content %}

<table class="table table-outline">
    <tr>
        <td>Volume: </td>
        <td>{{ edition.book.volume }}</td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>{{ edition.book.title }}</td>
    </tr>
    <tr>
        <td>Pagination:</td>
        <td>{{ edition.pagination }}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ edition.description }}</td>
    </tr>
    <tr>
        <td>Dustjacket Type:</td>
        <td>{{ edition.dj_type }}</td>
    </tr>
    <tr>
        <td>Added by:</td>
        <td>{{ edition.user }}</td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-outline-primary" href="{% url 'editionedit' edition.id %}">Edit...</a>
            <a class="btn btn-outline-primary" href="{% url 'bookedit' edition.book.id %}">Edit volume...</a>
        </td>
        <td/>
    </tr>
</table>

    <h2>Creators</h2>
    <table class="table table-outlined">
    {% for p in edition.book.get_personlist %}
        <tr>
            <td><a href="{% url 'persondetail' p.2 %}">{{ p.1 }}</a></td>
            <td>{{ p.3 }}</td>
        </tr>

    {% endfor %}
    <tr>
        <td>
            <a class="btn btn-outline-primary" href="{% url 'bookpersonadd' %}">Add...</a>
        </td>
        <td/>
    </tr>
    </table>





    <h2>Dust Jackets</h2>

{% endblock %}