{% extends 'base.html' %}

{% block pagetitle %}
	edit edition
{% endblock %}

{% block mainheader %}Edit an Edition{% endblock %}

{% block content %}
<form action="{% url 'editionedit' edition.id %}" method="POST">
	<div class="form-group">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="Update" />
	</div>
</form>

{% endblock %}
