{% extends "base.html" %}

{% block pagetitle %}Editions{% endblock %}

{% block mainheader %}Editions{% endblock %}

{% block content %}
    {%  if editions %}
    <table class="table">
        <tr>
            <th>Year</th>
            <th>Vol.</th>
            <th>Title</th>
            <th rowspan="2">Creator(s)</th>
            <th>Condition</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>

        {% for edition in editions %}
            <tr>
                <td>{{ edition.year }}</td>
                <td>{{ edition.book.volume }}</td>
                <td>{{ edition.book.title }}</td>
                <td rowspan="2">{{ edition.book.bookperson_set.count }}
                {{ edition.book.bookperson_set.lastname }}</td>

                <td>{{ edition.condition }}</td>
                <td>£{{ edition.get_coststring }}</td>

            	<td><a class="btn btn-outline-primary" href="{% url 'editiondetail' edition.id %}">details</a></td>
            	<td><a class="btn btn-outline-primary" href="{% url 'editionedit' edition.id %}">edit</a></td>
            	<td><a class="btn btn-outline-primary" href="{\% url 'editiondelete' edition.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>

        <p>Total cost: £{{ view.totalcost }}</p>
        <p>Add a <a href="{% url 'editionadd' %}">new purchase</a></p>

    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
    {% else %}
        <p>No editions found.</p>
    {% endif %}
{% endblock %}