{% extends 'base.html' %}

{% block pagetitle %}
	delete book
{% endblock %}

{% block mainheader %}Delete a Book{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ book }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>

{% endblock %}
