{% extends "base.html" %}

{% block pagetitle %}Volume: {{ book.volume }}{% endblock %}

{% block mainheader %}{{ book.title }}{% endblock %}

{% block content %}

<table class="table table-outline">
    <tr>
        <td>Volume: </td>
        <td>{{ book.volume }}</td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>{{ book.title }}</td>
    </tr>

    <tr>
        <td>Subtitle:</td>
        <td>{{ book.subtitle }}</td>
    </tr>
    <tr>
        <td>Published in:</td>
        <td>{{ book.pubyear }}</td>
    </tr>

    <tr>
        <td>Added by:</td>
        <td>{{ book.user }}</td>
    </tr>

</table>

    <h2>Creators <a class="btn btn-outline-primary" href="{% url 'personadd' %}">Add...</a></h2>
    <table class="table table-outlined">
    {% for p in book.get_personlist %}
        <tr>
            <td><a href="{% url 'persondetail' p.2 %}">{{ p.1 }}</a></td>
            <td>{{ p.3 }}</td>
        </tr>

    {% endfor %}
    </table>


    <h2>Editions <a class="btn btn-outline-primary" href="{% url 'editionadd' %}">Add...</a></h2>
    <table class="table table-outlined">
        {% for edition in book.get_editionlist %}
        <tr>
            <td><a href="{% url 'editiondetail' edition.id %}">{{ edition.year }}</a></td>
            <td>{{ edition.pagination }}</td>
            <td>{{ edition.description }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Dust Jackets <a class="btn btn-outline-primary" href="{\% url 'djadd' %}">Add...</a></h2>
    <table class="table table-outlined">
        {% for dustjacket in book.get_dustjacketlist %}
        <tr>
            <td>{{ dustjacket.illustration }} test</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}