{% extends 'base.html' %}

{% block pagetitle %}
	edit volume
{% endblock %}

{% block mainheader %}Edit a Volume{% endblock %}

{% block content %}
<form action="{% url 'bookedit' book.id %}" method="POST">
	<div class="form-group">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="Modify" />
	</div>
</form>

{% endblock %}
