{% extends "base.html" %}

{% block pagetitle %}OWC Volumes{% endblock %}

{% block mainheader %}List of OWC Volumes{% endblock %}

{% block content %}
    {%  if books %}
    <table class="table">
        <tr>
            <th>Vol.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Eds.</th>
            <th>Actions</th>
        </tr>

        {% for book in books %}
            <tr>
                <td>{{ book.volume }}</td>
                <td><a href="{% url 'bookdetail' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.get_personstring }}</td>
                <td>{{ book.edition_set.count }}</td>

                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'bookdetail' book.id %}">details</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'bookedit' book.id %}">edit</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'bookdelete' book.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
        <nav aria-label="Volume list page navigation">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>



{% endif %}    {%  else %}
        <p>No books found.</p>
    {%  endif %}
<p>Add a <a href="{% url 'bookadd' %}">new volume</a></p>

{% endblock %}