{% extends 'base.html' %}

{% block pagetitle %}
	delete purchase
{% endblock %}

{% block mainheader %}Delete a Purchase{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ instance }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>

{% endblock %}
