{% extends "base.html" %}

{% block pagetitle %}purchase: {{ instance.edition.book.title }} ({{ instance.edition.year }}){% endblock %}

{% block mainheader %}{{ instance.edition.book.title }} ({{ instance.edition.year }}){% endblock %}

{% block content %}

<table class="table table-outline">
    <tr>
        <td>Volume No.:</td>
        <td>{{ instance.edition.book.volume }}</td>
    </tr>
    <tr>
        <td>Volume Title:</td>
        <td>{{ instance.edition.book.title }}</td>
    </tr>
    <tr>
        <td>Creators:</td>
        <td>
            {% for creator in instance.get_creatorlist %}
                {{ creator.person.firstname }} {{ creator.person.lastname }} ({{ creator.role}}) </td>
        {% endfor %}
    </tr>
    <tr>
        <td>Has Dustjacket?</td>
        <td>{{ instance.get_has_dj }}</td>
    </tr>
    <tr>
        <td>Condition: </td>
        <td>{{ instance.condition }}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{ instance.get_coststring }}</td>
    </tr>
    <tr>
        <td>VIAF Reference:</td>
        <td></td>
    </tr>
</table>

{% if instance.get_creatorlist %}
    <h2>Associated people</h2>
<table class="table table-outlined">
<tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Role</th>
</tr>
{% for creator in instance.get_creatorlist %}
<tr>
    <td>{{ creator.person.firstname }}</td>
    <td>{{ creator.person.lastname }}</td>

</tr>
{% endfor %}
</table>
    {% endif %}
        <p>Add a <a href="#">new volume</a> for this author</p>

{% if person.get_dustjacketlist %}
<h2>Dustjackets</h2>
<table class="table table-outlined">
    <tr>
        <th>Type</th>
        <th>Illustration description</th>
        <th>Colour</th>
        <th>Dustjacket features</th>
    </tr>
    {% for dustjacket in person.get_dustjacketlist %}
    <tr>
        <td>{{ dustjacket.dustjacket.type }}</td>
        <td>{{ dustjacket.dustjacket.illustration }}</td>
        <td>{{ dustjacket.dustjacket.colour }}</td>
        <td>{{ dustjacket.dustjacket.features }}</td>
    </tr>
    {% endfor %}
</table>

    {%  else %}
    <p>No dustjacket illustrations listed by this person</p>
{% endif %}


{% endblock %}