{% extends 'base.html' %}

{% block pagetitle %}
	edit book purchase
{% endblock %}

{% block mainheader %}Edit a Book Purchase{% endblock %}

{% block content %}
<form action="{% url 'instanceedit' instance.id %}" method="POST">
	<div class="form-group">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="Update" />
	</div>
</form>

{% endblock %}
