{% extends "base.html" %}

{% block pagetitle %}My Books{% endblock %}

{% block mainheader %}My Books{% endblock %}

{% block content %}
    {%  if instances %}
    <table class="table">
        <tr>
            <th>Vol.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Condition</th>
            <th>Cost</th>
        </tr>

        {% for instance in instances %}
            <tr>
                <td>{{ instance.edition.book.volume }}</td>
                <td>{{ instance.edition.book.title }}</td>
                <td>
                    {% for creator in instance.get_creatorlist %}
                        {{ creator.person.lastname }}
                        {{ creator.get_short_role }} ;
                    {% endfor %}
                </td>

                <td>{{ instance.condition }}</td>
                <td>£{{ instance.get_coststring }}</td>

            	<td>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'instancedetail' instance.id %}">details</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'instanceedit' instance.id %}">edit</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'instancedelete' instance.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
        <p>Total cost: £{{ view.totalcost }}</p>
        <p>Add a <a href="{% url 'instanceadd' %}">new purchase</a></p>

    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}    {%  else %}
        <p>No books found.</p>
        <p>You must be logged in to see your books.</p>
    {%  endif %}
{% endblock %}