{% extends 'base.html' %}

{% block pagetitle %}
	add new person
{% endblock %}

{% block mainheader %}Add a New Person{% endblock %}

{% block content %}
<form action="{% url 'personadd' %}" method="POST">
	<div class="form-group">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="Add" />
	</div>
</form>

{% endblock %}
