{% extends "base.html" %}

{% block pagetitle %}Person: {{ person.firstname }} {{ person.lastname }}{% endblock %}

{% block mainheader %}{{ person.firstname }} {{ person.lastname }}{% endblock %}

{% block content %}

<table class="table table-outline">
    <tr>
        <td>Last name: </td>
        <td>{{ person.lastname }}</td>
    </tr>
    <tr>
        <td>First name:</td>
        <td>{{ person.firstname }}</td>
    </tr>
    <tr>
        <td>Year born:</td>
        <td>{{ person.yearborn }}</td>
    </tr>
    <tr>
        <td>Year died:</td>
        <td>{{ person.yeardied }}</td>
    </tr>
    <tr>
        <td>VIAF Reference:</td>
        <td><a target="_blank" href="https://viaf.org/viaf/{{ person.viaf }}">{{ person.viaf }}</a></td>
    </tr>
</table>

{% if person.get_booklist %}
    <h2>Volume Titles</h2>
<table class="table table-outlined">
<tr>
    <th>Vol.</th>
    <th>Title</th>
    <th>Editions</th>
</tr>
{% for book in person.get_booklist %}
<tr>
    <td>{{ book.book.volume }}</td>
    <td><a href="{% url 'bookdetail' book.book.id %}">{{ book.book.title }}</a></td>
    <td>Edition list</td>
</tr>
{% endfor %}
</table>
    {% endif %}
        <p>Add a <a href="#">new volume</a> for this author</p>

{% if person.get_dustjacketlist %}
<h2>Dustjackets</h2>
<table class="table table-outlined">
    <tr>
        <th>Type</th>
        <th>Illustration description</th>
        <th>Colour</th>
        <th>Dustjacket features</th>
    </tr>
    {% for dustjacket in person.get_dustjacketlist %}
    <tr>
        <td>{{ dustjacket.dustjacket.type }}</td>
        <td>{{ dustjacket.dustjacket.illustration }}</td>
        <td>{{ dustjacket.dustjacket.colour }}</td>
        <td>{{ dustjacket.dustjacket.features }}</td>
    </tr>
    {% endfor %}
</table>
    {%  else %}
    <p>No dustjacket illustrations listed by this person</p>
{% endif %}


{% endblock %}