{% extends 'base.html' %}

{% block pagetitle %}
	edit person
{% endblock %}

{% block mainheader %}Edit a Person{% endblock %}

{% block content %}
<form action="{% url 'personedit' %}" method="POST">
	<div class="form-group">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="Modify" />
	</div>
</form>

{% endblock %}
