{% extends "base.html" %}

{% block pagetitle %}List of Names{% endblock %}

{% block mainheader %}List of Names{% endblock %}

{% block content %}
    {%  if people %}
    <table class="table table-sm">
        <tr>
            <th>Surname</th>
            <th>Forename</th>
            <th>No. Vols.</th>
            <th>Actions</th>

        </tr>
        {% for person in people %}
            <tr>
                <td>{{ person.lastname }}</td>
                <td>{{ person.firstname }}</td>
                <!--td>{{ person.bookperson_set.count }}</td-->

                <!--td>{{ person.bookperson_set.all }}</td-->
                <td>
                    {% for book in person.get_booklist %}
                        <a href="{% url 'bookdetail' book.book.id %}">{{ book.book.title }}</a> ({{ book.role }})<br/>
                    {% endfor %}
                </td>


            	<td><a class="btn btn-outline-primary btn-sm" href="{% url 'persondetail' person.id %}">detail</a></td>
            	<td><a class="btn btn-outline-primary btn-sm" href="{% url 'personedit' person.id %}">edit</a></td>
            	<td><a class="btn btn-outline-primary btn-sm" href="{\% url 'persondelete' [person.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}    {%  else %}
        <p>No records of any people were found.</p>
    {%  endif %}
    <p>Add a <a href="{% url 'personadd' %}">new person</a></p>
{% endblock %}