{% extends 'base.html' %}

{% block pagetitle %}About{% endblock %}

{% block mainheader %}About this Project{% endblock %}

{% block content %}

<h3>Purpose</h3>

<p>This is a test application in Django 4 for a personal bibliographical database</p>
<p>Features:</p>
<ol>
	<li>Bootstrap 4 styles</li>
	<li>Uses class-based views and generic views/templates where possible</li>
    <li>Still in prototype</li>
</ol>
{% endblock %}