{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OWC :: {% block pagetitle %} pagetitle {% endblock %}</title>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<!--link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
<!--link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->
<link
	href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'
	rel='stylesheet' type='text/css'>
<!--link rel="stylesheet" href="{% static 'css/base.css' %}"-->
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <!--script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script-->
	<!--script src="{\% static 'js/bootstrap.min.js' %}"></script-->
	<nav class="navbar navbar-expand-md bg-light">

        <a class="navbar-brand" href="/">OWC</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

		<!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
					data-toggle="dropdown">About</a>
					<ul class="dropdown-menu">
						<li class="dropdown-item">
                            <a class="nav-link" href="{% url 'about' %}">About this project</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" href="{\% url '/about/owc/' %}">About OWC</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link disabled" href="#">Unavailable</a>
                        </li>

					</ul>
				</li>

                <li class="nav-item dropdown">
                    <a href="{%  url 'books' %}" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Books<span class="caret"></span></a>
					<ul class="navbar-link dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="{% url 'books' %}">List all books</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'bookadd' %}">Add a new book</a></li>
					</ul>
				</li>


                <li class="nav-item dropdown">
                    <a href="{%  url 'people' %}" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">People<span class="caret"></span></a>
					<ul class="navbar-link dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="{% url 'people' %}">List all names</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'personadd' %}">Add a new name</a></li>
					</ul>
				</li>

                <li class="nav-item dropdown">
                    <a href="{%  url 'editions' %}" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Editions<span class="caret"></span></a>
					<ul class="navbar-link dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="{% url 'editions' %}">List all editions</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'editionadd' %}">Add a new edition</a></li>
					</ul>
				</li>

				<li class="nav-item dropdown">
                    <a href="{%  url 'instances' %}" class="nav-link dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">My Books<span class="caret"></span></a>
					<ul class="navbar-link dropdown-menu">
						<li class="nav-item"><a class="nav-link" href="{% url 'instances' %}">List all</a></li>
                        <li class="nav-item"><a class="nav-link" href="{\% url 'instanceadd' %}">Add</a></li>
					</ul>
				</li>


			</ul>

			<form class="form-inline" action="{/% url 'search' %} }}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
					<input type="text" class="form-control mr-sm-2" placeholder="term">
				</div>
				    <!--button type="submit" class="btn btn-outline-success">Go</button-->

			</form>

            </div>
		<!-- /.navbar-collapse -->

	</nav>



	<div class="content container">
		<div class="row">
			<div class="col-md-12"><h1>{% block mainheader %} Block: mainheader {% endblock %}</h1></div>
			<div class="col-md-12">{% block content %} Block: content {% endblock %}</div>
		</div>
	</div>
    <div class="col-xs-12 col-sm-4 col-md-12">
                {% if user.is_authenticated %}
                <p>Logged in as {{ user.first_name }} {{ user.last_name }} |



                    <a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                <p>Not logged in | <a href="{%  url 'login' %}">Log in</a></p>
                {% endif %}
            </div>

</body>
</html>