{% extends "base.html" %}

{% block pagetitle %}CMHS :: Account :: {{ user.first_name }} {{ user.last_name }}{% endblock%}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{% block mainheader %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
    <p>Username: {{ user.username }}</p>
    <p>Email address: {{ user.email }}</p>
    <p>Affiliation: {{ profile.affiliation }}</p>
    <p>Profiles will need to be linked to tables from a separate profile</p>
{% endblock %}