{% extends 'base.html' %}

{% block pagetitle %}Log in{% endblock %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{% block mainheader %}Welcome{% endblock %}

{% block content %}
  <form method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td><button type="submit">Log in</button></td>
        </tr>
    </table>
  </form>
{% endblock %}