{% extends 'base.html' %}

{% block pagetitle %}
	AuthDemo :: Not Authorised
{% endblock %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{% block mainheader %}Not Authorised{% endblock %}

{% block content %}

<h3>Not Authorised</h3>

<p>You are not authorised to access this page. You could:

<ul>
<li><a href="{% url 'login' %}">Log in</li>
<li>Try a different user account</li>
<li>Ask for help</li>
</ul>
</p>

{% endblock %}