{% extends "base.html" %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{%  block mainheader %}Reset your password{% endblock %}

{% block content %}



<form method="post" >
{% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="change">
    <input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock %}