{% extends "base.html" %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{%  block mainheader %}Password reset confirmation{% endblock %}

{% block content %}

<form method="post" >
{% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="confirm">
    <input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock %}