{% extends "base.html" %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{% block mainheader %}Change your password{% endblock %}

{% block content %}

<form method="post" >
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}

        <input class="form-control" type="submit" value="change">
        <input type="hidden" name="next" value="{{ next }}">


    </div>
</form>

{% endblock %}