{% extends "base.html" %}

{% block subheader %}Centre for Maritime Historical Studies {% endblock %}

{%  block mainheader %}Reset your password{% endblock %}

{% block content %}
     <p>Please note that the password reset will require configuration of the server-side
    email if the user is to be successfully emaild with a reset token. As-is, it will
    dump the reset email into the (local) server console, from where the url can be
        pasted to access the reset dialog.</p>

<form method="post" >
{% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="reset">
    <input type="hidden" name="next" value="{{ next }}">

</form>

{% endblock %}